<div class="container">
  <div class="border d-flex p-3">
    <%= link_to restaurants_path do %>
      <i class="fa-solid fa-house"></i>
    <% end  %>
  </div>
  <h1>Add a Restaurant</h1>
  <%= render 'form', restaurant: @restaurant %>
</div>
